<!-- if we want to bind any property of a dom element with the component , then we can use property binding -->
<!-- bind any event i.e add event listener to the button -->
<!-- maive data binding in angular -->


<label for="">Server Name</label>

<!-- naive 2 way binding  -->
<!-- event binding -->

<!-- <input type="text" (input)="OnTextChanged($event)" [value]=serverName>
<p>{{serverName}}</p> -->

<!-- 2 way binding using ng model -->


<!-- more practice on data binding -->
<!-- 2 way data binding - ng model -->
<input type="text" [(ngModel)]="serverName">
<p>{{serverName}}</p>

<!-- event + property binding -->
<button [disabled]="shouldServerDisable()" (click)="OnServerCreateButtonClicked()">Add Server</button>

<!-- ngif statement -->

<!-- ng-if-else -->
<!-- <element *ngif=condition; else elseblockpointer -->
<!-- ngIf is a structural directive , because it decides which part of the dom should be displayed and which not -->
<p *ngIf='"isStatusEnabled" ; else elseBlock'>

    {{serverStatus}}
</p>
<!-- executes the else block -->
<ng-template #elseBlock>
    {{serverStatus}}
</ng-template>

<p [ngStyle]="{color:getColour()}">Status of button : button enabled status :  {{!isServerButtonDisabled}}</p>

