<div class="row">
  <div class="col-xs-12 col-sm-4">
    <div class="list-group">
      <a
        href="#"
        class="list-group-item"
        *ngFor="let server of servers">
        {{ server.name }}
      </a>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4">
    <app-edit-server></app-edit-server>
    <hr>
    <app-server></app-server>
  </div>
  <!-- this path here is relatve to the current path , therefore it will lead us to page not foubd -->
  <!-- <button routerLink="servers">Reload page</button> -->

  <button (click)="onReloadServer()" >Reload Servers</button>
  <!-- pass query params from the url -->
  <a [routerLink]="['/servers' , 5 , 'edit']" [queryParams]="{'edit-mode' : 2}" [fragment]="'loading'">Server Edit</a>
</div>

