
<h1>Registered Employees</h1>

<label for="search">Search Name</label>
<input type="text" id="search">
<br><br>
<button class="btn btn-primary">Search Name</button>

<table class="table" id='tab'>
    <thead>
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Position</th>
        <th scope="col">Office</th>
        <th scope="col">Salary</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let e of lis;">
        <td>{{ e.name! }}</td>
        <td>{{ e.position }}</td>
        <td>{{ e.office }}</td>
        <td>{{ e.salary }}</td>
    </tr>
    </tbody>
</table>       